include header.pug
html
  head
  body
    img(src='/multimedia/istockphoto-697961222-1024x1024.jpg', style='width:100%; height: 100%')
    .center-block.centered.rulesborder
      p(style='margin-top: 100px;')
        | Tetris Rules:
        br
        br
        |  The aim in Tetris is simple, you bring down blocks from the top of the screen. You can move the blocks around, either left to right and you can rotate them.
        br
        | The blocks fall at a certain rate, but you can make them fall faster if you’re sure of your positioning.
        br
        |  Your objective is to get all the blocks to fill all the empty space in a line at the bottom of the screen,whenever you do this, you’ll find that the blocks vanish and you get awarded points.
    div
      a.btn.btn-primary(href='/game', style=' position: absolute;bottom: 8px;right: 16px;') back To Home
