doctype html
html
  head
    title Tetris
    // include jQuery
    script(src='/js/jquery-3.4.1.min.js')
    // include bootstrap
    script(src='/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    // include css
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    // include js
    script(src='/js/client/main.js')
  body