doctype html
html
  head
    title Tetris
    // include jQuery
    script(src='/js/jquery-3.4.1.min.js')
    // include bootstrap
    script(src='/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    // include css
    link(rel='stylesheet', type='text/css', href='/css/style.css')
    // include js
    script(src='/js/client/main.js')
  body
    img(src='/multimedia/istockphoto-697961222-1024x1024.jpg', style='width:100%; height: 100%')
    .center-block.centered.rulesborder
      p
        | What is Tetris?
        br
        br
        | It's the addictive puzzle game that started it all! By embracing our universal desire to create order out of chaos, the Tetris game provides intellectual sport that combines continuous fun with mental stimulation.
        br
        |  As one of the
        |             most recognizable and influential video game brands in the world, it’s no wonder why there are hundreds of millions of Tetris products being played, worn, and enjoyed by fans in their everyday lives. For over thirty-five years, the game and
        |             brand have truly transcended the barriers of culture and language, resulting in a fun and exciting playing experience for everyone, everywhere!
        br
        br
        |  Who Created Tetris?
        br
        br
        |  In 1984, Tetris was born from the imagination of computer programmer Alexey Pajitnov. Inspired by his favorite puzzle board game, Pentominos, Pajitnov created an electronic game that let players arrange puzzle
        |             pieces in real time as they fell from the top of the playing field. 
        br
    div
      a.btn.btn-primary(href='/game', style=' position: absolute;bottom: 8px;right: 16px;') back To Home
