script(src='/js/client/Board.js')
script(src='/js/client/tetromino.js')
script(src='/js/client/Piece.js')
script(src='/js/client/Piece-Manager.js')
script(src='/js/client/Player.js')
script(src='/js/client/Game.js')
script(src='/js/client/Tetris.js')
script(src='/js/client/TetrisManager.js')
script(src='/js/client/Connection.js')